body {
    background-image: url("https://www.shutterstock.com/image-vector/moscow-russia-april-4-2022-600nw-2142695819.jpg"); 
}

h1 {
  background-color: green;
}

div {
  background-color: lightblue;
}

p {
  

height: 200px;
}